This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'BCv5uXxA_Z8TuygsviNE'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import pandas as pd
import json
from operator import is_not
from functools import partial

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json'
params = {'api_key':API_KEY, 'start_date':'2007-05-02', 'end_date':'2007-05-03'}

AFX_X = requests.get(url, params=params)

if AFX_X.status_code == 200:
    print("Request Successful.")
    AFX_X_data = AFX_X.content
    AFX_X_data
else:
    print(f"Request failed. Check the URL : '{AFX_X.url}' and try again")

Request Successful.

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

# Convert in JSON
JSON = json.loads(AFX_X_data)
# visualise in DataFrame
AFX_X_df = pd.DataFrame(JSON["dataset"]["data"], columns=JSON["dataset"]["column_names"])
AFX_X_df

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2007-05-03,17.94,17.98,17.65,17.78,None,49785.0,884164.0,None,None,None
1,2007-05-02,18.05,18.05,17.80,18.00,None,60314.0,1081055.0,None,None,None

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

**1.Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).**

In [5]:
url_2007 = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json'
params_2007 = {'api_key':API_KEY, 'start_date':'2007-01-01', 'end_date':'2007-12-31'}

stock = requests.get(url_2007, params_2007)

if stock.status_code ==200:
    print("Request Successful.")
    stock_data = stock.content
else:
    print(f"Request failed. Check the url '{url_2007}' and try again.")

Request Successful.

**2.Convert the returned JSON object into a Python dictionary.**

In [6]:
stock_data_json = json.loads(stock_data)
type(stock_data_json)

dict

In [7]:
# visualize the Data in dataframe (Personal Purpose)
stock_df = pd.DataFrame(stock_data_json["dataset"]["data"], columns=stock_data_json["dataset"]["column_names"])
stock_df

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2007-12-31,NaN,NaN,NaN,11.95,None,0.0,NaN,None,None,0.0
1,2007-12-28,11.85,11.96,11.77,11.95,None,41231.0,489233.0,None,None,NaN
2,2007-12-27,12.20,12.20,11.86,11.94,None,115425.0,1386513.0,None,None,NaN
3,2007-12-26,NaN,NaN,NaN,12.13,None,0.0,NaN,None,None,0.0
4,2007-12-25,NaN,NaN,NaN,12.13,None,0.0,NaN,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...
256,2007-01-05,16.00,16.12,15.80,16.10,None,88627.0,1410357.0,None,None,NaN
257,2007-01-04,16.25,16.36,15.91,16.15,None,42859.0,689922.0,None,None,NaN
258,2007-01-03,16.50,16.65,16.28,16.33,None,57386.0,944194.0,None,None,NaN
259,2007-01-02,15.89,16.40,15.89,16.40,None,74388.0,1197423.0,None,None,NaN
260,2007-01-01,NaN,NaN,NaN,15.80,None,0.0,NaN,None,None,0.0

**3. Calculate what the highest and lowest opening prices were for the stock in this period.**

In [9]:
open_prices_all =[]
high_all = []
low_all = []
close_prices_all = []
traded_vol_all = []

for datum in stock_data_json["dataset"]["data"]:
    open_prices_all.append(datum[1])
    high_all.append(datum[2])
    low_all.append(datum[3])
    close_prices_all.append(datum[4])
    traded_vol_all.append(datum[6])

# sanitation check
# len(open_prices_all), len(high_all),len(low_all), len(close_prices_all), len(traded_vol_all)
max_open_price_2007 = max(list(filter(partial(is_not, None),open_prices_all)))
min_open_price_2007 = min(list(filter(partial(is_not,None), open_prices_all)))

print(f"The highest Opening Price in 2007: {max_open_price_2007}")
print(f"The lowest Opening price in 2007: {min_open_price_2007}")

The highest Opening Price in 2007: 18.37
The lowest Opening price in 2007: 11.32

**4. What was the largest change in any one day (based on High and Low price)?**

In [10]:
change_in_day = []
for i in range(len(high_all)):
    if high_all[i] != None and low_all[i] != None:
        change_in_day.append(high_all[i]-low_all[i])
max_change_in_day = max(change_in_day)
print(f"The Largest change in any day (based on High and Low Prices): {max_change_in_day}")

The Largest change in any day (based on High and Low Prices): 2.9000000000000004

**5. What was the largest change between any two days (based on Closing Price)?**

In [11]:
diff_close_prices = []
for i in range(1, len(close_prices_all)):
    if close_prices_all[i] != None and close_prices_all[i-1] != None:
        diff_close_prices.append(close_prices_all[i] - close_prices_all[i-1])
max_diff_close_price = max(diff_close_prices)
print(f"The largetst change between any two days (based on closing price): {max_diff_close_price}")

The largetst change between any two days (based on closing price): 1.0199999999999996

**6. What was the average daily trading volume during this year?**

In [12]:
avg_traded_vol = sum(traded_vol_all)/len(traded_vol_all)
print(f"The average daily trading volume during the year 2007: {avg_traded_vol}")

The average daily trading volume during the year 2007: 95178.98850574713

**7. What was the median trading volume during this year.**

In [14]:
def median(li):
    li.sort()
    if len(li)%2 ==0:
        index1 = int((len(li)/2)-1)
        index2 = index1 + 1
        median = (li[index1]+li[index2])/2
    else:
        index = int((len(li)+1)/2 -1)
        median = li[index]
    return median

In [15]:
median_traded_val = median(traded_vol_all)
print(f"The Median Trading Volume during the year 2007: {median_traded_val}")

The Median Trading Volume during the year 2007: 66204.0

In [16]:
li2 = [1,33,64,23]
median(li2)

28.0